.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba(255, 255, 255, .5);
}

.text {
    transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
    transform: scale(1.2);
}
