*, *::after, *::before {
    box-sizing: border-box;
}

.movies-container {
    width: 100%;
}


p, h3 {
    color: #F4EEE0;
    font-weight: bold;
}

:root {
    --handle-size: 3rem;
    --img-gap: .25rem;
}